@using ToDoWebApp.Models.TodoViewModel


@{
   
    @model ToDoViewModel

}











<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
       
            <form class="d-flex justify-content-center align-items-center mb-4">
              <div data-mdb-input-init class="form-outline flex-fill"> 
                <input type="text" id="form2"  style= "border-radius:10px;padding: 25px 400px;" class="form-control" />
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info" style="position: absolute; right: 0; top: 2; bottom: 0; padding: 4px 20px; font-size: 1.5rem; margin-right: 22px;border-radius:11px; margin-bottom:10px;">Add</button>
     
                 

                <div class="input-placeholder">Start Typing...</div>
              </div>
            
            </form>
                
        
        <div  style= "border-radius:10px;" class="card">
          <div class="card-body p-5">
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                aria-labelledby="ex1-tab-1">
                <ul class="list-group mb-0">
                   <li
                class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                <div class="d-flex align-items-center">
                   <a href="#!" data-mdb-tooltip-init title="Done"><i
                        class="fas fa-check fa-lg text-success me-3"></i></a>
                  <p>
                       Vestibulum at eros
                  </p>
                
                </div>
                <a href="#!" data-mdb-tooltip-init title="Remove item">
                  <i class="fas fa-times text-primary"></i>
                </a>
              </li>
                <li
                class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                <div class="d-flex align-items-center">
                   <a href="#!" data-mdb-tooltip-init title="Done"><i
                        class="fas fa-check fa-lg text-success me-3"></i></a>
                  <p>
                       Vestibulum at eros
                  </p>
                
                </div>
                <a href="#!" data-mdb-tooltip-init title="Remove item">
                  <i class="fas fa-times text-primary"></i>
                </a>
              </li>
  <li
                class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                <div class="d-flex align-items-center">
                   <a href="#!" data-mdb-tooltip-init title="Done"><i
                        class="fas fa-check fa-lg text-success me-3"></i></a>
                  <p>
                       Vestibulum at eros
                  </p>
                
                </div>
                <a href="#!" data-mdb-tooltip-init title="Remove item">
                  <i class="fas fa-times text-primary"></i>
                </a>
              </li>
  <li
                class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                <div class="d-flex align-items-center">
                   <a href="#!" data-mdb-tooltip-init title="Done"><i
                        class="fas fa-check fa-lg text-success me-3"></i></a>
                  <p>
                       Vestibulum at eros
                  </p>
                
                </div>
                <a href="#!" data-mdb-tooltip-init title="Remove item">
                  <i class="fas fa-times text-primary"></i>
                </a>
              </li>


               <li
                class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                <div class="d-flex align-items-center">
                   <a href="#!" data-mdb-tooltip-init title="Done"><i
                        class="fas fa-check fa-lg text-success me-3"></i></a>
                  <p>
                       Vestibulum at eros
                  </p>
                
                </div>
                <a href="#!" data-mdb-tooltip-init title="Remove item">
                  <i class="fas fa-times text-primary"></i>
                </a>
              </li>

               <li
                class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                <div class="d-flex align-items-center">
                     <a href="#!" data-mdb-tooltip-init title="Done"><i
                        class="fas fa-check fa-lg text-success me-3"></i></a>
                  <p>
                       Vestibulum at eros
                  </p>
                
                     
                </div>
                <a href="#!" data-mdb-tooltip-init title="Remove item">
                  <i class="fas fa-times text-primary"></i>
                </a>
              </li>

                </ul>
              </div>
             
            </div>
            <!-- Tabs content -->
               <!-- Tabs navs -->
            
            <!-- Tabs navs -->

          </div>
          <div class="container"></div>
        
            <ul class="nav nav-tabs mb-4 pb-2" style=" position: absolute; top: 220px; left: 360px;" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-mdb-tab-init href="#ex1-tabs-1" role="tab"
                  aria-controls="ex1-tabs-1" aria-selected="true">All</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-mdb-tab-init href="#ex1-tabs-2" role="tab"
                  aria-controls="ex1-tabs-2" aria-selected="false">Active</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-mdb-tab-init href="#ex1-tabs-3" role="tab"
                  aria-controls="ex1-tabs-3" aria-selected="false">Completed</a>
              </li>
            </ul>
        </div>

      </div>
    </div>
  </div>
</section>

@*@using ToDoWebApp.Models.TodoViewModel


@{

    @model ToDoViewModel

}




<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fas fa-check-square me-1"></i>
                            <u>My Todo-s</u>
                        </p>

                        <div class="pb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-center">

                                        <input type="text" class="form-control form-control-lg" id="Text"
                                               placeholder="Add new...">
                                        <a data-mdb-tooltip-init title="Set due date">
                                            <i class="fas fa-calendar-alt fa-lg me-3"></i>

                                        </a>
                                        <div>
                                            <button onclick="PostTodo()" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Add </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                            <p class="small mb-0 me-2 text-muted">Filter</p>
                            <select data-mdb-select-init>
                                <option value="1">All</option>
                                <option value="2">Completed</option>
                                <option value="3">Active</option>
                                <option value="4">Has due date</option>
                            </select>
                            <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                            <select data-mdb-select-init>
                                <option value="1">Added date</option>
                                <option value="2">Due date</option>
                            </select>
                            <a href="#!" style="color: #23af89;" data-mdb-tooltip-init title="Ascending">
                                <i class="fas fa-sort-amount-down-alt ms-2"></i>

                            </a>
                        </div>
                        @if (Model != null)
                            @foreach (var x in Model.ListToDos)
                            {


                                <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                                    <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                        <div class="form-check">
                                            <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked1"
                                           aria-label="..." checked />
                                        </div>
                                    </li>
                                    <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                        <p class="lead fw-normal mb-0">@x.Text</p>
                                    </li>
                                    <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
                                        <div class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-body-tertiary">

                                            <a asp-action="Edit" asp-controller="ToDo" asp-route-Id="@x.Id" class="text-info" data-mdb-tooltip-init title="Edit todo">
                                                <i class="fas fa-pencil-alt me-3"></i>Edit
                                            </a>
                                           

                                        </div>
                                        <div class="text-end text-muted">
                                            <a href="#!" class="text-muted" data-mdb-tooltip-init title="Created date">
                                                <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>   @x.createDate</p>
                                            </a>

                                        </div>
                                    </li>
                                </ul>


                            }

                    </div>
                </div>
            </div>
        </div>
    </div>                                @{
        var prevDisabled = !Model.PaginatedItemsDto.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.PaginatedItemsDto.HasNextPage ? "disabled" : "";
    }

    <div class="col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="html5-extension_paginate">
            <ul class="pagination">

                <li class="paginate_button page-item">
                    <a asp-route-pageIndex="1"
                       aria-controls="html5-extension"
                       data-dt-idx="2" tabindex="0"
                       class="page-link"> صفحه اول</a>
                </li>

                <li class="paginate_button page-item active">
                    <a asp-route-pageIndex="@(Model.PageDto.pageIndex - 1)"
                       class="btn btn-default @prevDisabled">
                        قبلی
                    </a>
                </li>

                @foreach (var item in Model.PaginatedItemsDto.Pager.Pages)
                {
                    if (item == Model.PageDto.pageIndex)
                    {
                        <li class="paginate_button page-item  active">
                            <a asp-route-pageIndex="@item"
                       aria-controls="html5-extension"
                       data-dt-idx="2" tabindex="0"
                       class="page-link"> @item</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button page-item ">
                            <a asp-route-pageIndex="@item"
                       aria-controls="html5-extension"
                       data-dt-idx="2" tabindex="0"
                       class="page-link"> @item</a>
                        </li>
                    }

                }

                <li class="paginate_button page-item ">

                    <a asp-route-pageIndex="@(Model.PageDto.pageIndex + 1)"
                       class="btn btn-default @nextDisabled">
                        بعدی
                    </a>
                </li>

                <li class="paginate_button page-item">
                    <a asp-route-pageIndex="@Model.PaginatedItemsDto.Pager.TotalPages"
                       aria-controls="html5-extension"
                       data-dt-idx="2" tabindex="0"
                       class="page-link"> صفحه آخر</a>
                </li>
            </ul>
        </div>
    </div>


    <script>
        function PostTodo() {

             var formData = new FormData();
                    formData.append("Text", $("#Text").val());
            var res=$("#Text").val();
           $.ajax({
                  type: 'POst',
                  url: '@Url.Action("Add", "ToDo")',
                     contentType: false,
                   processData: false,
                      cache: false,
                        data: formData,
                           success: function(response) {
                           alert("shod");


                           }

                });
                         }

    </script>

*@
