@{
    Layout = null;
}
@using ToDoWebApp.Models.TodoViewModel


@{

    @model ToDoViewModel

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> meow meow nigga</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/input/styles.css" />
    <link rel="icon" type="image/x-icon" href="~/img/kooh.jpg" />
</head>
<body class="overflow-x-hidden">

    <!------------------------------- Image ------------------------------->

    <img class="-z-10 inset-0 absolute w-[99%] h-72 object-cover rounded-3xl mt-2 ml-2 ring-1 ring-gray-400 shadow-lg select-none" src="../img/kooh.jpg" alt="">

    <!------------------------------- start project ------------------------------->

    <div class="container">
        <div class="pt-6">

            <!------------------------------- Input ------------------------------->

            <form class=" relative  text-center w-2/3 mx-auto select-none" action="#">
                <h3 class="tracking-widest text-white text-4xl font-medium text-left pb-6">TODO</h3>
                <input id="text" class="w-full rounded-lg px-4 py-3 placeholder:text-black outline-none /// focus:placeholder:text-sm focus:placeholder:text-gray-500 focus:placeholder:tracking-widest placeholder:duration-150" type="text" placeholder="Start typing...">
                <button onclick="PostTodo()" class="bg-purple-600 text-white py-2 px-4 rounded-lg /// absolute right-1 top-[64px]  hover:bg-purple-800 duration-150">Create</button>
                <div id="errorMessages" class="text-red-500 mt-4" style="color:black;"></div>
            </form>


            <!------------------------------- Main ------------------------------->

            <div class="bg-white w-2/3 mx-auto rounded-xl shadow-xl mt-8 px-4 py-3 select-none">
                <div>

                    <div>
                        @if (Model != null)
                            @foreach (var x in Model.ListToDos)
                            {
                                if (@x.Done == false)
                                {
                                    <div class="py-3 px-2 border-b-[1px] border-gray-300 flex justify-between hover:bg-pink-100 hover:rounded-xl hover:cursor-pointer">
                                        <div class="flex items-center gap-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-5" onclick="ChengStatus(@x.Id,true)">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                                            </svg>
                                            <p>@x.Text</p>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" onclick="deleteToDo(@x.Id)">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                        </svg>
                                    </div>
                                }
                                else
                                {
                                    <div class="py-3 px-2 border-b-[1px] border-gray-300 flex justify-between hover:bg-pink-100 hover:rounded-xl hover:cursor-pointer">
                                        <div class="flex items-center gap-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-5" onclick="ChengStatus(@x.Id,false)">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                                            </svg>
                                            <p>@x.Text</p>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" onclick="deleteToDo(@x.Id)">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                        </svg>
                                    </div>
                                }
                            }
                    </div>


                </div>

                <!------------------------------- end ------------------------------->

                <div class="flex justify-between items-center text-gray-500 pt-3">
                    <a class="hover:text-purple-700 duration-300">Items left @ViewBag.itemsleft</a>
                    <ul class="flex gap-x-6">
                        <li><a asp-action="index" asp-controller="ToDo" asp-route-SortType="All" class="hover:text-purple-700 duration-300">All</a></li>
                        <li><a asp-action="index" asp-controller="ToDo" asp-route-SortType="Active" class="hover:text-purple-700 duration-300">Active</a></li>
                        <li><a asp-action="index" asp-controller="ToDo" asp-route-SortType="Completed" class="hover:text-purple-700 duration-300">Completed</a></li>
                    </ul>
                    <a asp-action="index" asp-controller="ToDo" asp-route-SortType="ClearCompleted" class="hover:text-purple-700 duration-300">Clear Completed</a>
                </div>

                <!------------------------------- end ------------------------------->

            </div>
        </div>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<script src="~/js/Todo.js"></script>








